body{
    background: #111;
    background-image: url("img/pi_60pct.png");
    background-position: center center;
    background-size:30%;
    background-repeat: no-repeat;
    height: 100%;
}

div.navbar{
    background: #dedede;
}