body{
    background: #111;
    background-image: url("img/pi_60pct.png");
    background-position: center center;
    background-size:25%;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: 0;
    padding-top: 50px;
}

a:hover{
    background-color: #00aa00 !important;
}

nav{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

div#content{
    color: #fff;
    height: 95%;
    padding: 15px;
    margin-top: 5px;
    background: rgba(0,0,0,0.7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

div#dash{
    height: 100%;
}

div#dash .row{
    height: 50%;
}

div#dash .row div{
    text-align:center;
}

div#tempAkt{
    font-family: Helvetica, Arial;
    font-size: 8vmin;
}

div#tempVerlauf{
    height: 100%;
    width: 100%;
}

div#image{
    margin: 0 auto;
}

div#date{
    font-family: 'Source Code Pro', monospace;
    font-size: 8vmin;
}

table{
    color:#fff !important;
}

th{
    text-align: right;
    padding-right: 4px;
    font-size: 4vmin;
}

td{
    text-align: left;
    padding-left: 4px;
    font-size: 4vmin;
}

/* Allgemeine Spezifierung der Switch Control Buttons, da Probleme mit Bootstrap */
.btn-on,
.btn-off{
    font-family: Helvetica;
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 80px;
}

/* Farbe fuer den On-Button */
.btn-on {
    background: #13c437;
}

/* Farbe fuer den Off-Button */
.btn-off {
    background: #e0163e;
}

